.espace-stockage {
    padding: 20px;
    background-color: #fff;
  }
  
  .espace-stockage h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .espace-stockage .ant-table {
    margin-top: 20px;
  }
  