.subscription-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f2f5, #e6f7ff);
  padding: 20px;
}

.left-side {
  margin-right: 190px; /* Espacement entre l'image et la carte */
}

.subscription-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 1100px; /* Augmenter la hauteur maximale de l'image */
  object-fit: cover; /* Garde le ratio de l'image */
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Contenu dans la carte reste vertical */
  width: 100%;
  max-width: 400px;
}

.company-logo {
  width: 200px;
  margin-bottom: 20px;
}
.company-logo2 {
  width: 160px;
  position: absolute;
  top: 56px;
  left: 60px;
  margin-bottom: 20px;
}
.invoice-details {
  text-align: left;
  margin-bottom: 20px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
}

.ant-btn-primarys {
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: none;
  font-size: 16px;
  width: 100%;
  transition: all 0.3s ease;
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
}

.achetez-le-maintenant{
  background-color: #1890ff;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}



/* Styles des icônes flottantes */
.floating-icon {
  position: absolute;
  font-size: 60px;
  color: #1890ff;
  opacity: 0.7;
  animation: float 5s ease-in-out infinite;
}

/* Positionnement spécifique de chaque icône */
.icon-databases {
  top: 42%;
  left: 75%;
  animation-delay: 0s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 25px 25px;
  border-radius: 100%;
}

.icon-clouds {
  top: 50%;
  right: 14%;
  animation-delay: 1.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 35px 25px;
  border-radius: 100%;
}

.icon-folders {
  bottom: 25%;
  left: 82%;
  animation-delay: 3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 35px 25px;
  border-radius: 100%;
}
.icon-sack-dollars{
  bottom: 15%;
  left: 75%;
  animation-delay: 3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 35px 25px;
  border-radius: 100%;
}

/* Animation de flottement */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
